.dark-mode{
    background-color: darken($grisOscuro, 10);

    p {
        color: $blanco;
    }
    a, h1, h2, h3, h4, th {
        color: $gris;
    }

    .anuncio, .resumen-propiedad {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
        .icono {
            filter: invert(100%);
        }

        .precio {
            color: $verde;
        }
    }
    .texto-nosotros blockquote {
        color: $blanco;
    }
    .formulario {
        label,
        legend,
        p {
            color: $gris;
        }
        input:not([type="submit"]), textarea, select {
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }

    /* BOTONES */

    // .boton-negro {
        
    //     @include boton($negro, inline-block);
    // }
    // .boton-negro-block {
    //     @include boton($negro, block);
    // }
    
    // .boton-gris {
    //     @include boton($gris, inline-block);
    // }
    // .boton-gris-block {
    //     @include boton($gris, block);
    //     padding: 1.5rem;
    //     width: 100%;
    // }
    // .boton-blanco-block {
    //     @include boton($blanco, block);
    // }
    
}