.no-webp .inicio { // modernizr agrega la clase de .no-webp automaticamente
    background-image: url(../img/header.jpg);
}

.webp .inicio { // modernizr agrega la clase de .webp automaticamente
    background-image: url(../img/header.webp);
}

.header {
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    &.inicio {
        background-position: center center; // para evitar que se repitan
        background-size: cover;
        

        @include tablet {
            min-height: 70rem; // altura de la imagen
        }

        .contenido-header {
            @include tablet {
                min-height: 70rem;
            }
        }
    }
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 60rem; // para crear el salto de linea, si le doy un ancho determinado el resto del texto pasa a la siguiente linea
    }
}